
.aboutPage {
  background-color: #040D12;
}
/* FOR HERO SECTION */
.heroSection {
  position: relative;
  width: 100%;
  height: 75vh; 
  overflow: hidden;
}
.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff; 
}
.heroSection .heroText {
    text-align: center;
  }
.heroSection .heroText h1 {
    font-size: 48px; 
    font-weight: bold;
    margin-bottom: 20px;
    color:#ffffff;
  }
.heroSection .heroText p {
    font-size: 24px; 
    color:#ffffff;
    margin-bottom: 1em;
  }
.ctabutton {
    background-color: #008080; 
    color:#fff;
    padding: 10px 20px;
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    cursor: pointer;   
}
.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.ctabutton:hover {
    background-color: #015c5c; 
}
@media (max-width: 768px) {
  .heroSection .heroText {
    text-align: center;
  }
  .heroSection .heroText h1 {
    font-size: 36px; 
    font-weight: bold;
    margin-bottom: 20px;
    color:#ffffff;
  }
  .heroSection .heroText p {
    font-size: 20px;
    color:#ffffff;
  }
  .ctabutton {
    background-color: #008080; 
    padding: 10px 20px;
    color:#fff;
    font-size: 10px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    cursor: pointer; 
}
.video {
  object-fit: cover;
}
}
/* for About - content */
.aboutContent {
    padding: 80px 0;
    margin-top: 20px; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .aboutBio {
    flex: 1;
    margin-right: 40px; 
  }

  .aboutBio h2 {
    font-size: 36px; 
    color: #008080;
    text-align: center;
    margin-bottom: 20px;
  }

  .aboutBio h3 {
    font-size: 21px; 
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }

  .aboutBio p {
    font-size: 18px; 
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
  }

  .aboutPhoto .photo {
    width: 100%; 
    max-width: 1000px; 
    height: auto;
  }
   /* Additional styles for responsiveness */
   @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
    
    .aboutBio,
    .aboutPhoto {
    margin: 0 auto;
    padding: 0 20px;
  }
  .aboutPhoto .photo {
    max-width: 100%;
  }
  .aboutBio {
    text-align: center;
  }
  .aboutBio h2 {
    font-size: 28px;
  }
  .aboutBio h3 {
    font-size: 18px;
  }
  .aboutBio p {
    font-size: 16px;
  }
}

  /* FOR SKILLS SECTION */
  .SkillItem {
    margin-bottom: 10px;
  }
  .SkillItem h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color:#000;
  }

 
  .aboutSkills {
    padding: 50px 0;
    background-color: #DAFFFB;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .aboutSkill {
    text-align: center;
  }
  .aboutSkill h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:#008080;
  }
  .aboutSkill p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
  }
  .logosContainer {
    display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  }
  
  .logo {
    margin: 10px;
  }
  /* For services section */
  .aboutServices {
    padding: 50px 0;
  }

  .aboutService {
    text-align: center;
  }
  .aboutService h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:#008080;
  }
  .aboutService p {
    font-size: 18px;
    color: #555;
    margin:0 auto 40px auto;
    width: 80%;
  }

.servicesContainer {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.serviceCard {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    .serviceContent {
      .serviceIcon,
      .serviceTitle{
        color: #fff; 
      }
    }
    transform: scale(1.05); 
  }}

  .serviceDescription:hover{
    color: white;
  }
.serviceIcon {
  font-size: 1.5em;
  margin-right: 10px;
  text-align: center;
  color: teal;
}

.serviceimageSrc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6; 
  z-index: -1;
}
.serviceContent {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3f3f3f; 
  margin-bottom: 10px; 
  padding-bottom: 10px; 
}

.serviceTitle {
  font-size: 1.5em;
margin-bottom: 10px;
  text-align: center;
  color: teal;
}

.serviceDescription {
  font-size: 0.1em;
  color: #000;
}

@media (min-width: 768px) {
  .servicesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .servicesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
// For Skills
.fadeIn {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.aboutFacts {
  padding: 50px 0;
  background-color: #DAFFFB;
}

.aboutFact {
  text-align: center;
}
.aboutFact h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color:#008080;
}
.aboutFact p {
  font-size: 18px;
  color: #555;
  margin:0 auto 40px auto;
  width: 80%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.counter {
  flex: 1;
  padding: 30px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    background-color:#008080;
    transform: scale(1.05);
  }
}

.counter h2 {
  font-size: 30px;
  color: #333;
}
.counter:hover h2 {
  color: #F2FFE9;
}
.counter p {
  font-size: 20px;
  color: #666;
  margin-top: 10px;
}
.counter:hover p {
  color: #F2FFE9;
}
@media (max-width: 768px) {
  .counter {
    flex: 0 1 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px); 
    margin: 10px;
    padding: 10px;
  }
  .wrapper {
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
  }

  .counter h2 {
    font-weight: 500;
    font-size: 15px;
    color:#008080;
  }
  .counter p {
    font-size: 10px;
    color:#008080;
  }
}

/* For prices */

.aboutPrices {
  padding: 50px 0;
}

.aboutPrice {
  text-align: center;
}
.aboutPrice h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color:#008080;
}
.aboutPrice p {
  font-size: 18px;
  color: #555;
  margin:0 auto 40px auto;
  width: 80%;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}
.card:hover {
  transform: scale(1.05);
}

.price {
  color:#000;
  font-size: 1em;
}

.description {
  color: #000;
  font-size: 1em;
}

.name {
  color: #000;
  font-size: 1.5em;
}
.bronzeColorClass {
  color: #CD7F32; 
}

.goldColorClass {
  color: #FFD700; 
}

.diamondColorClass {
  color: #b9f2ff;
}

.tablist {
  color: #fff;
}



