
.Neo {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  height: 100vh;
}

.imageContainer {
  flex: 1;
  margin-left: 5vw; 
  filter: grayscale(100%); 
  transition: filter 0.5s;
}

.imageContainer:hover {
  filter: grayscale(0%); 
}
.textContainer {
  flex: 1;
}
@font-face {
  font-family: 'NubrixGrotesk';
  src: url('/fonts/NubrixGrotesk.ttf') format('truetype');
}
.fadeInText {
  font-family: 'NubrixGrotesk';
  color: #e44b37;
  font-size: 8.5rem;
  opacity: 0;
  animation: fadeIn 5s forwards;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .Neo {
    flex-direction: column;
    height: auto; 
  }

  .imageContainer {
    margin-left: 0; 
  }
}


.parallaxContainer {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.containerDesc {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px;
}

.desc {
  max-width: 600px;
  margin: 0 auto;
}

.desc p {
  font-size: 18px;
  line-height: 1.6;
}
