.main {
  background-color: #040D12;
}


.desktopOnlyContent {
  display: block; 
}
.mobileOnlyContent {
  display: none; 
}

@media (max-width: 768px) {
  .desktopOnlyContent {
    display: none;
  }

  .mobileOnlyContent {
    display: block; 
  }
}