/* FOR desktop */
.imageContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 5;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image.active {
  opacity: 1;
}
.webbtn {
  background-color: transparent;
  border: 2px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; 
  align-items: center;
  justify-content: center;
}

.webbtn:hover {
  background-color: white;
  color: black;
}
 
/* FOR MOBILE */
.mobileViewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.imageContainerM {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 5;
}

.imageM {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.imageM.active {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.title {
  color: white;
  font-size: 5em;
  margin-bottom: 60px;
  text-align: center;
}
.brief {
  color: white;
  font-size: 1em;
  margin-bottom: 10px;
  text-align: center;
}
.email {
  color: white;
  font-size: 1em;
  margin-bottom: 10px;
  text-align: center;
}
.centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mobbtn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; 
}

.mobbtn:hover {
  background-color: white;
  color: black;
}

.socialIcons {
  justify-content:center;
  display: flex;
  margin-top: 20px;
}

.socialIcons a {
  margin: 0 10px;
}

.socialIcons img {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  filter: brightness(0) invert(1);
}

.socialIcons img:hover {
  transform: scale(1.2);
}
