
.introMain{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 768px) {
     display: none; 
  }
}

.introBody{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
// for modal
.modalContainer{
    height: 350px;
    width: 400px;
    position: absolute;
    background-color: white;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalSlider{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal img{
    height: auto;
}

.cursor, .cursorLabel{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e44b37;
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
}

.cursorLabel{
    background-color: transparent;
}
// for projects
.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
}
.project:last-of-type{
    border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover{
    opacity: 0.5;
}

.project:hover h2{
    transform: translateX(-10px);
}

.project:hover p{
    transform: translateX(10px);
}

.project h2{
    font-size: 60px;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
}

.project p{
    transition: all 0.4s;
    font-weight: 300;
}

@font-face {
  font-family: 'Brushstrike';
  src: url('/fonts/Brushstrike.ttf') format('truetype'); 
}
// for the projects card and carousel
.projectsCarousel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15vh;
    h1 {
      text-align: center;
      color: #e44b37;
      font-size: 24px;
      font-family: 'Brushstrike';
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  
    .slick-dots {
      bottom: 10px;
    }
  
    .slick-prev,
    .slick-next {
      font-size: 24px;
      color: #e44b37;
    }
  
    .slick-prev {
      left: -30px;
    }
  
    .slick-next {
      right: -30px;
    }
  }
  .projectCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    transition: transform 0.2s ease-in-out;
    margin-right: 10px;
    align-items: center;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    .projectImage {
      position: relative;
      overflow: hidden;
      border-radius: 8px 8px 0 0;
  
      img {
        display: block;
      }
    }
  
    .projectDetails {
      padding: 1em;
      align-items: center;
      justify-content: center;
  
      h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: 1.5em;
        color: #6b190e;
      }
  
      p {
        margin-bottom: 0.5em;
        color: #050001;
      }
  
      a {
        color: #e44b37;
        text-decoration: none;
        cursor: pointer;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .viewButton {
        background-color: #e44b37;
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
        
  
        &:hover {
          background-color: #6b190e;
        }
      }
    }
  }





