
.sliderContainer {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
// for color grade
.gradeContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.beforeImage,
.afterImage {
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e44b37;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  mix-blend-mode: screen;
}

.beforeImage:hover + .afterImage {
  transform: translateX(100%);
}

.afterImage:hover {
  transform: translateX(0);
}


@font-face {
  font-family: 'Backflipss';
  src: url('/fonts/Backflipss.ttf') format('truetype');
  font-style: normal;
}
.titleT {
  font-family: "Backflipss";
  text-align: center;
  // color: #ffffff;
  background-color: #050001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height:2
}

.h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 10rem;
  margin: 10px 0;
  @media (min-width: 200px) and (max-width: 540px) {
    font-size: 5rem;
  }
}

// for visuals
.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Brushstrike';
  src: url('/fonts/Brushstrike.ttf') format('truetype'); 
}
// for the slider
.sliderT {
  font-family: 'Brushstrike';
  margin-top: 5vh;
  text-align: center;
  color: #e44b37;
  font-size: 24px;
}
.slidingImages {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  margin-top: 100px;
  background-color: white;
  z-index: 1;
  .slider {
    display: flex;
    position: relative;
    gap: 3vw;
    width: 120vw;
    left: -10vw;
    .project {
      width: 25%;
      height: 20vw;
      display: flex;
      align-items: center;
      justify-content: center;
     
      .imageCont {
        position: relative;
        width: 80%;
        height: 80%;
       
        img {
          object-fit: cover;
        }
      }
    }
  }
  .circleContainer {
    position: relative;
    .circle {
      height: 800%;
      width: 120%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: white;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
    }
  }
}
